body{
    /* background-color: #A5A5A5; */
    overflow-x: hidden;
}
.about{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.main_title{
    font-size: 36px;
    padding-top: 100px;
    /* padding-left: 100px; */
    padding-bottom: 50px;
}
.main_box{
    width: 376px;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08);
    margin-top: 11px;
    /* margin-left: 100px; */
}

.main_box1{
    width: 50%;
    height: 121px;
    border: .5px solid #ccc;
    border-radius: 20px 0 0 20px;
}
.main_box2{
    width: 50%;
    height: 121px;
    border: .5px solid #ccc;
    border-radius:  0  20px 20px 0;
}
.main_box2 p{
    font-size: 1em;
    margin-left: 19px;
    margin-top: 20px;
}
.box_p{
    width: 10vw;
    padding: 20px;
    font-size: 42px;
    font-family: 'Kumla';
    font-style: normal;
    font-weight: 400;
    margin-top: -5px;
}
.box_p1{
    margin-top: -42px;
    margin-left: 25px;
}
.about_img{
    margin-top: 205px;
    margin-left: 91px;
    position: relative;
}
.about_i{
    width: 48vw;
}
.about_btn{
    width: 222px;
    height: 49px;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    position: absolute;
    right: 20px;
    bottom: 19px;
}

.why{
    width: 98vw;
    /* height: 130vh; */
    border-radius: 60px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08), inset 0px 0px 10px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
}
.why_title{
    font-size: 36px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    padding-top: 96px;
    margin-top: 70px;
    margin-left: 100px;
}
.why_cards{
    width: 80vw;
    display: grid;
    grid-template-columns:  375px 375px 375px;
    gap: 25px 23px;
    margin: 10% auto;
    overflow: scroll;
}
.why_card{
    height: 300px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08), inset 0px 0px 10px rgba(0, 0, 0, 0.08);

}
.why_icon{
    width: 76px;
    height: 76px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #ff9292;
    color: #fff;
    border-radius: 90px;
    border: none;
    font-size: 45px;
}
.why_p1{
    /* width: 14vw; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    margin: 21px 35px;
}
.why_p2{
    /* width: 18vw; */
    margin-top: 15px;
    margin-left: 35px;
    font-size: 16px;
}

/* about_2 */

.main_title_2{
    font-size: 22px;
    padding-top: 25px;
    padding-left: 24px;
    line-height: 50px;
}
.about_img_2{
    /* margin-left: 91px; */
    position: relative;
    /* margin: 0 auto; */
    display: grid;
    align-items: center;
    justify-content: center;
}
.about_i_2{
    width: 80vw;
    margin: 0 auto;
    position: relative;
}
.about_btn_2{
    width: 166px;
    height: 37px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    right: 50px;
    position: absolute;
    bottom: 10px;
}
.main_box_2{
    width: 85vw;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 8%);
    margin-top: 25px;
    /* margin-left: 100px; */
    margin: 25px auto;   
}
.main_box1_2{
    width: 50%;
    height: 105px;
    border: .5px solid #ccc;
    border-radius: 20px 0 0 20px;
}
.main_box2_2{
    width: 50%;
    height: 105px;
    border: .5px solid #ccc;
    border-radius:  0  20px 20px 0;
    
}
.main_box2_2 p{
    font-size: 14px; 
    margin-left: 10px;
    /* display: grid; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
@media(max-width:1300px){
    .main_title{
        padding-top: 100px;
        padding-left: 50px;
    }
    .about_img{
        margin-left: 40px;
    } 
}
.why_2{
    width: 98vw;
    height: 100vh;
    border-radius: 60px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08), inset 0px 0px 10px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
}
.why_2_title{
    font-size: 36px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    padding-top: 96px;
    margin-top: 70px;
    margin-left: 100px;
}
.why_2_cards{
    width: 80vw;
    display: grid;
    grid-template-columns:  375px 375px 375px;
    gap: 25px 23px;
    margin: 10% auto;
    overflow: scroll;
}
.why_2_card{
    height: 300px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08), inset 0px 0px 10px rgba(0, 0, 0, 0.08);

}
.why_2_icon{
    width: 76px;
    height: 76px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #ff9292;
    color: #fff;
    border-radius: 90px;
    border: none;
    font-size: 45px;
}
.why_2_p1{
    /* width: 14vw; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    margin: 21px 35px;
}
.why_2_p2{
    /* width: 18vw; */
    margin-top: 15px;
    margin-left: 35px;
    font-size: 16px;
}
@media(max-width:1000px){
    .about_img {
        margin-left: 10px;
        margin-top: 200px;
    }
    .about_i {
        width: 50vw;
    }
    .main_box2 p {
        font-size: 14px;
        margin-left: 5px;
        margin-top: 20px;
    }
    .main_box {
        width: 300px;
    }
}

@media(min-width:800px){
    /* .about{
        display: block;
    } */
    .about_2{
        display: none;
    }
    /* .why_2{
        display: none;
    } */
}
@media(max-width:800px){
    .about{
        display: none;
    }
    .about_2{
        display: block;
    }
    .why{
        display: none;
    }
    .why_2{
        display: block;
    }
    .why_2_title {
        margin-left: 30px;
        padding-top: 30px;
        font-size: 20px;
    }
    .why_2{
        border-radius: 30px;
        height: 50vh;   
    }
    .why_2_cards {
        grid-template-columns: 150px 150px 150px;
        gap: 10px;
    }
    .why_2_card{
        height: 150px;
        border-radius: 30px;
    }
    .why_2_icon{
        width: 30px;
        height: 30px;
        font-size: 15px;
        margin-top: 15px;
        margin-left: 15px;
    }
    .why_2_p1{
        font-size: 10px;
        margin: 10px 15px;
    }
    .why_2_p2 {
        /* width: 18vw; */
        margin-top: 5px;
        margin-left: 15px;
        font-size: 8px;
    }
}