.ordered_t{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}
.ordered_t a{
  text-decoration: none;
  margin-left: 5%;
}
.order_title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.TiArrowLeftThick2 {
  width: 32px;
  height: 26px;
  border-radius: 6px;
  border: 1px solid #eee;
  color: #FF6875;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_t{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_header_text{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_title{
  display: none;
}
.main_header_text_media{
  display: none;
}
.basket_title_t{
  margin-top: 7%;
  font-weight: bold;
  font-size: 2em;
  color: #000;
  margin-left: 5%;
}
.order_amount{
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: 25px;
  /* line-height: 32px; */
  /* letter-spacing: -0.02em; */
  color: #70737C;
}
.order_main{
  width: 97vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; 
}
.order_main_l{
    width: 97vw;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 5% auto;
  /* border: 1px solid #000; */
  /* height: 300px; */
  /* width: 873px; */
}
.m_header_r{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #000 */
}
.ordered_img{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order_amount_text{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_name{
  text-align: left;
  /* width: 15vw; */
}
.ordered_i{
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ordered_delate{
  position: absolute;
  left: -4px;
  top: -4px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E55C5C;
  color: #fff;
  border-radius: 20px;
}
.ordered{
  line-height: 30px;
}
.m_header_r{
  line-height: 40px;
}
.h_r_amount p{
  margin-top: 0;
}
.h_r_price{
  line-height: 50px;
}
/* .amount_btn{
  line-height: 30px;
} */
.order_card{
    width: 30vw;
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 12px rgba(207, 207, 207, 0.25);
    border-radius: 12px;
    padding: 10px;
}
.order_text{
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px auto 20px 0;
}
.order_t{
  font-weight: bold;
  font-size: 18px;
}
.order_c_end1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% auto;
}
.order_btn {
  width: 95%;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #359740;
  border-radius: 8px;
  border: none;
  color: #fff;
}
.order_btn_a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amount_btn {
  width: 5vw;
  display: flex;
  text-align: center;
  justify-content: space-between;
  /* margin-top: 7%; */
}

.ordered_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media(min-width:1200px){
  .order_main_l{
    width: 80vw;
  }
  .order_card{
    width: 25vw;
  }
}
@media(max-width:1280px){
  /* .order_main_l{
    width: 65vw;
  } */
  .ordered_i{
    width: 55%;
  }
}
@media(max-width:870px){
  .ordered_i{
    width: 60%;
  }
}
@media(max-width:800px){
  .main_header_text{
    display: none;
  }
  .main_header_text_media{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .ordered_amount2{
    width: 4%;
  }
  .product_title{
    display: block;
    border-top: 1px solid #eee;
  }
  .basket_title_t{
    font-size: 20px;
  }
  .order_amount{
    font-size: 18px;
  }
  .header_t{
    display: none;
  }
    .ordered_img {
      display: block;
      width: 95vw;
      margin: 0 auto;
    }
    .order_main_l{
      width: 98vw;
      margin: 0 auto;
      display: block;
    }
    .ordered_main_card {
      display: block;
    }
    .order_amount_text{
      width: 90%;
      margin: 0 auto;
    }
    .amount_btn{
      width: 10vw;
    }
    .order_card{
      width: 70vw;
      margin: 5% auto;
    }
    .ordered_i{
      width: 65%;
      /* margin: 0 auto; */
    }
  .ordered_t{
    width: 90%;
  }
}
@media(max-width:500px){
  .ordered_i{
    width: 100%;
  }
  .order_card{
    width: 90vw;
  }
}