/* body{
    background-color: #A5A5A5;
} */

.main_carousel{
    width: 90vw !important; 
    align-items: center !important;
    justify-content: center !important;
    margin: 115px auto !important;
}
.new_t{
    width: 90vw;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.Новинки_cards{
    /* width: 70vw;
    margin: 4% auto; 
    display: grid;
    grid-template-columns: 302px 302px 302px 302px;
    gap: 44px;
    margin: 0 auto;
    overflow-y: hidden; */
        width: 80vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
@media(max-width:1450px){
    .Новинки_cards{
        overflow: scroll;
        overflow-y: hidden;
    }
}
.Новинки_title{
    margin-left: 6%;
    font-size: 2em;
    margin-left: 6%;
    margin-top: 5%;
}
.Новинки_link{
    margin-top: 6%;
}
.Новинки_link a{
    /* margin-top: 5%; */
    font-size: 1em;
    color: #FF6875;
    text-decoration: none;
}
.Новинки_card{
    width: 302px;
    height: 559px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 3px 3px; 
    -webkit-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
}
.card_imgg{
    width: 100%;
    border-radius: 30px;
    padding: 10px;
}
.card_names{
    width: 240px;
    font-size: 36x;
    font-weight: bold;
    margin: 27px;
}
.prices{
    font-size: 1.8em;
    font-weight: bold;
    margin: 27px;
}
.card_amounts {
    width: 92px !important;
    height: 30px !important;
    border-radius: 80px;
}
.btnn{
    border: none;
    background-color: #FF6875;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    color: #fff;
    font-size: 2em;
}
.css-1s2u09g-control {
    width: 101px;
    height: 41px;
    border-radius: 30px !important;
}
.css-6j8wv5-Input{
    height: 0;
    border-radius: 36px;
}
.Скидки{
    margin-top: 5%;
}
.Скидки_t{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Скидки_cards_all a{
    color: #FF6875;
    text-decoration: none;
}
.Скидки_title{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 6%;
}
.Скидки_title_t{
    font-size: 2em;
    margin-left: 6%;
}
.Скидки_title_i{
    font-size: 2em;
    color: red;
}
.Скидки_cards{    
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:1450px){
    .Скидки_cards{
        overflow: scroll;
        overflow-y: hidden;
    }
}
.Скидки_card{
    width: 302px;
    height: 559px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 3px 3px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
}
.card_discounts{
    color: red;
}
.card_footer{
    width: 257px;
    margin: -16px 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.famous_title{
    font-size: 2em;
    margin-left: 6%;
    margin-top: 10%;
}
.famous_cards{
    width: 80vw;
    display: grid;
    grid-template-columns: 237px 237px 237px 237px 237px;
    gap: 25px 23px;
    margin: 5% auto;
    align-items: center;
    /* justify-content: center; */
}
@media(max-width:1450px){
    .famous_cards{
        overflow: scroll;
        overflow-y: hidden;
    }
}
.camer_card{
    height: 179px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    margin: 0 auto; 
}
.camer{
    /* margin: 10% auto; */
    margin: 30px 40px;
}
.camer_text{
    text-align: center;
}
.xit_t{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_xit{
    width: 72px;
    height: 19px;
    border-radius: 60px;
    background-color: #FF6875;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 25px;
}
.xit{
    margin-top: 50px;
}
.xit_title{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 6%;
}
.xit_links a{
    text-decoration: none;
    color: #FF6875;
}
.xit_title_t{
    width: 20vw;
    font-size: 2em;
    margin-left: 6%;
}
.xit_cards{    
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:1450px){
    .xit_cards{
        overflow: scroll;
        overflow-y: hidden;
    }
}
.xit_card{
    width: 302px;
    height: 559px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 3px 3px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
}
.card_names_x{
    width: 240px;
    font-size: 36x;
    font-weight: bold;
    margin: -10px 27px;
}
@media(max-width:800px){
    .main_carousel{
        margin-top: 25px !important;
    }
    .carousel-indicators{
        margin-bottom: 0rem !important;
        margin: auto !important;
        width: 80px !important;
        list-style: none !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1em !important;
    }
}
