.main_carousel{
    width: 90vw !important; 
    align-items: center !important;
    justify-content: center !important;
    margin: 10% auto !important;
}
.Новинки_cards{
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* align-items: center; */
    margin: 15% auto; 
}
.Новинки_title{
    margin-left: 6%;
    font-size: 2em;
    margin-left: 6%;
    margin-top: 15%;
}
.Новинки_card{
    width: 302px;
    height: 559px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(34, 60, 80, 0.2);
}
.card_imgg{
    padding: 10px;
}
.card_names{
    width: 240px;
    font-size: 36x;
    font-weight: bold;
    margin: 27px;
}
.prices{
    font-size: 25px;
    font-weight: bold;
    margin: 27px;
}
.amounts{
    width: 92px;
    height: 30px;
    border-radius: 80px;
    /* margin: 27px; */
    /* padding: 10px; */
}
.css-1s2u09g-control{
    border-radius: 50px !important;
}
.btnn{
    border: none;
    background-color: palevioletred;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    color: #fff;
    font-size: 25px;
}
.Скидки{
    margin-top: 50px;
}
.Скидки_title{
    /* width: 200px; */
    display: flex;
    align-items: center;
    font-weight: bold;
    /* justify-content: space-between; */
}
.Скидки_title_t{
    font-size: 2em;
    margin-left: 6%;
}
.Скидки_title_i{
    font-size: 2em;
    color: red;
}
.Скидки_cards{    
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* flex-wrap: wrap; */
    margin: auto;
}
.card_discounts{
    color: red;
}
.card_footer{
    width: 257px;
    margin: -16px 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.famous_title{
    font-size: 2em;
    margin-left: 6%;
    margin-top: 10%;
}
