.inform{
    /* width: 80vw; */
    margin: 0 auto;
}
.inform a{
    text-decoration: none;
}
.inform_title{
    /* width: 25vw; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    text-align: center;
    margin-top: 137px;
    margin-left: 10%;
}
.inform_t{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
    margin-left: 10px;
}
.TiArrowLeftThick{
    width: 32px;
    height: 26px;
    border-radius: 6px;
    border: 1px solid #eee;
    color: #FF6875;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.inform_main{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.form{
    width: 47%;
    /* height: 795px; */
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    
}
.form p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 43px;
    color: #011043;
    margin-top: 30px;

}
.input{
    width: 85%;
    height: 66px;
    /* padding-left: 43px; */
    /* left: 362px; */
    /* top: 476px; */
    /* margin: 0 42px; */
    display: flex;
    margin: 0 auto; 
    background: rgba(196, 196, 196, 0.2);
    border: 1px solid #EFEFEF;
    border-radius: 6px;
    
}
.form_btn{
    width: 80%;
    height: 66px;
    background: #359740;
    color: #fff;
    border: 1px solid #EFEFEF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    
}
.inform_card{
    width: 47%;
    /* height: 470px; */
    background: #FFFFFF;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 20px;
    
}
.card_texts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}.card_2{
    font-weight: bold;
}
.card_end2{
    color: #00000084;
}
@media(max-width:800px){
    .inform_main{
        display: block;
    }
    .form{
        width: 100%;
    }
    .inform_card{
        width: 100%;
        margin-top: 5%;
    }
    .TiArrowLeftThick{
        margin-top: 5px;
    }
    .inform_t{
        font-size: 20px;
    }
}