.modal1{
  width: 200px;
  height: 400px;
  background-color: rgba(129, 129, 129, 0.553);
  display: none;
  /* margin-top: 100px;
  margin-left: 25%; */
  position: absolute;
  z-index: 99;
}
.open_modal{
  display: block;
}
@media(max-width:800px){
.modal1{
  width: 100vw;
  height: 84vh;
  background-color: rgba(129, 129, 129, 0.553);
  display: none;
  /* margin-top: 100px; */
  /* margin-left: 25%; */
  /* position: absolute; */
  z-index: 99;
  position: fixed;
  top: 0;
}
.open_modal{
  display: block;
}

}