.modal1{
  width: 200px;
  height: 400px;
  background-color: rgba(129, 129, 129, 0.553);
  display: none;
  /* margin-top: 100px;
  margin-left: 25%; */
  position: absolute;
  z-index: 99;
  text-align: center;
}
.modal1 a{
  text-decoration: none;
  color: #000;
  font-size: 50px;
}
.modal1 a:hover{
  color: rgb(255, 0, 0);
}
.modal1 li{
  list-style: none;
}
.open_modal{
  display: block;
}
.all_cards{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap
}


.busket_text a {
  width: 5vw;
  display: flex;
  text-align: center;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 18px;
  color: #000;
}
.busket_text_p{
  margin-top: 3px;
  /* bottom: 0; */
}
@media(max-width:800px){
.modal1{
  width: 100vw;
  height: 92vh;
  background-color: rgba(129, 129, 129, 0.553);
  display: none;
  /* margin-top: 100px; */
  /* margin-left: 25%; */
  /* position: absolute; */
  z-index: 99;
  position: fixed;
  top: 0;
}
.open_modal{
  display: block;
}

}